[user]
	name = Steve Coffman
	email = steve.coffman@ithaka.org
[core]
	excludesfile = /Users/scoffman/.gitignore
	editor = mate -w
	autocrlf = input
	trustctime = false
	precomposeunicode = false
[color]
	ui = true
[diff]
	tool = kdiff3
[difftool]
	prompt = false
	opendiff = trustExitCode
	bc = trustExitCode
	kdiff3 = trustExitCode
	kdiff3 = trustExitCode

[difftool "bcomp"]
    trustExitCode = true
    cmd = "/usr/local/bin/bcomp" -ro "$LOCAL" "$REMOTE"
[merge]
	tool = kdiff3
[mergetool]
    prompt = false
	opendiff = trustExitCode
	bc = trustExitCode
	keepBackup = false
	kdiff3 = trustExitCode
	kdiff3 = trustExitCode
[mergetool "bcomp"]
    trustExitCode = true
    cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = StevenACoffman
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[alias]
	unstage = reset HEAD --
	unstash = stash pop
	co = checkout
	ci = commit
	br = branch
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	aliases = --get-regexp
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	template = /Users/scoffman/.stCommitMsg
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
