"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-beautify":
    general:
      _analyticsUserId: "0a400e8f-240c-4c26-864f-df5040ec25c7"
    python:
      default_beautifier: "yapf"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "linter-jscs"
      "linter-jshint"
      "kite"
      "activate-power-mode"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 22
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "b9e61007-1fb3-1b0b-ac6f-31c147a59579"
  "git-plus":
    general:
      _analyticsUserId: "1da7d240-94c7-49f9-a309-7300d0023b00"
  kite:
    showKiteTourOnStartup: false
  linter: {}
  "linter-eslint":
    globalNodePath: "/Users/scoffman/.nvm/versions/node/v8.5.0"
    useGlobalEslint: true
  "linter-flake8":
    executablePath: "/Users/scoffman/bin/flake8"
  "linter-puppet-lint":
    oldVersion: false
  "linter-ui-default":
    panelHeight: 69
  "lisp-paredit":
    strict: false
  "prettier-atom":
    prettierOptions:
      singleQuote: true
    useEditorConfig: false
    useEslint: true
  "proto-repl":
    autoScroll: false
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".erb.html.text":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".ruby.source":
  editor:
    preferredLineLength: 120
".source.yaml":
  editor:
    tabLength: 2
